.hero-section {
  display: flex;
  flex-direction: row;
  height: 100dvh;
  overflow: hidden;
}
.hero-left {
  position: relative;
  max-height: inherit;
  padding: 12dvh 4vw 16dvh 6vw;
  z-index: 1;

  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  &::before {
    content: "";
    position: absolute;
    inset: -20px;

    z-index: -1;
    background-image:
      linear-gradient(rgba(18, 18, 18, 0.7), rgba(18, 18, 18, 0.7)),
      url("../../assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(4px);
  }

  @media (min-width: 992px) {
    padding: 24dvh 2vw 6dvh 4vw;
    background-image:
      radial-gradient(
        circle clamp(8rem, 20vw, 48rem) at 90% 10%,
        rgba(223, 57, 217, 0.25) 0%,
        transparent 80%
      ),
      radial-gradient(
        circle clamp(6rem, 15vw, 36rem) at 20% 40%,
        rgba(86, 62, 185, 0.25) 0%,
        transparent 80%
      ),
      radial-gradient(
        circle clamp(8rem, 30vw, 24rem) at 85% 95%,
        rgba(241, 128, 32, 0.15) 0%,
        transparent 80%
      );
    flex: 0 0 35%;

    &::before {
      display: none;
    }
  }
}

.hero-right {
  height: inherit;
  flex: 0 0 0%;
  background-image: url("../../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 30%;
  @media (min-width: 992px) {
    flex: 0 0 65%;
  }
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 20px) {
    flex-direction: row;
  }
}

.hero-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.socials-icons {
  display: flex;
  flex-direction: row;
  gap: clamp(1.5rem, 0.5vw + 1rem, 6rem);
  align-self: stretch;
}
