.hero-section {
  display: flex;
  flex-direction: row;
  height: 100dvh;
  overflow: hidden;
}
.hero-left {
  position: relative;
  display: flex;

  flex: 0 0 35%;
  max-height: inherit;
  padding: clamp(4rem, 12vw, 16rem) 4rem clamp(2rem, 3vw + 1rem, 12rem) 8rem;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
}

.hero-right {
  height: inherit;
  flex: 0 0 65%;
  background-image: url("../../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 30%;
}

.hero-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.hero-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.socials-icons {
  display: flex;
  flex-direction: row;
  gap: clamp(2rem, 0.5vw + 1rem, 6rem);
}
