@use "../base/variables" as var;

.hero-name-text {
  font-size: clamp(3rem, 4vw + 1rem, 12rem);
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin: 0;
}

.hero-surname-text {
  text-transform: uppercase;
  font-size: clamp(4rem, 5vw + 2.5rem, 16rem);
  font-style: normal;
  font-weight: 900;
  margin: -1.5rem 0 4rem 0;
  line-height: normal;
}

.hero-regular-text {
  font-size: clamp(1rem, 1vw + 1rem, 6rem);
  font-style: normal;
  font-weight: 400;
  margin: 0 0 2rem 0;
  line-height: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}
